apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-service
  namespace: {{ namespace }}
spec:
  selector:
    app: {{ app_name }}
  ports:
    - name: backend-service
      protocol: TCP
      port: 8000                     
      targetPort: 8000               
    - name: frontend-service
      protocol: TCP
      port: 8501                      
      targetPort: 8501
  type: {{ service_type }}
